# Data Types and Structures Module 3

1. What are data structures, and why are they important?
  - Data structures are ways to organize and store data so it can be used efficiently.
  # Why Are They Important?
  - Efficiency – Improve speed of operations (search, insert, delete).
  - Organization – Manage data logically.
  - Problem Solving – Help solve complex tasks (e.g., searching, sorting).
  - Memory Use – Optimize memory.
  - Real-World Use – Used in apps like search       engines, social media, and databases.
  # Common Types:
  - Array – Fixed-size list.
  - Linked List – Chain of nodes.
  - Stack/Queue – LIFO/FIFO structures.
  - Tree/Graph – Hierarchical or networked data.
  - Hash Table – Fast key-value lookup.

2. Explain the difference between mutable and     immutable data types with examples?
   - They are tow types
     1. Mutable Data Type
     2. Immutable Data Type
   - Mutable:- data types can be changed after they are created.
   You can add, remove, or change their content without creating a new object.
      - Examples
          - list, dict, set
  - Immutable:- data types cannot be changed after they are created. If you try to change them, a new object is created.
      - Examples
          - int, float, str, tuple

3. What are the main differences between lists and tuples in Python?
  - List
    - Mutable – You can change, add, or remove elements after creation.
    - Uses square brackets – Defined using [ ] (Example., [1, 2, 3]).
    - More methods – Has many built-in methods like .append(), .remove().
    - Slower than tuples – Because they are flexible and allow changes.
    - Used when data changes – Best for dynamic data.
  - Tuples
    - Immutable – Cannot be changed after creation.
    - Uses parentheses – Defined using ( ) (Example., (1, 2, 3)).
    - Fewer methods – Only basic methods like .count() and .index().
    - Faster than lists – Because of fixed size and immutability.
    - Used when data is constant – Best for fixed data like coordinates or settings.

4. Describe how dictionaries store data?
  - **Store** **data** as **key-value pairs**
    - Example: {"name": "Alice", "age": 25}
  - **Keys** must be unique and immutable (e.g., str, int, tuple).
  - **Values** can be any data type.
  - Internally use a hash table for fast access.
  - **Fast operations:** insert, delete, and lookup are usually O(1).

5. Why might you use a set instead of a list in Python?
  - Because sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operations like unions and intersections.

6. What is a string in Python, and how is it different from a list?
  - **String**: A string is a sequence of characters enclosed in quotes. Example: "hello" or 'Python'.
  - **Difference between string and list:**
    - A string holds characters only, while a list can hold any data types.
    - Strings are written in quotes; lists use square brackets.
    - Strings are immutable (cannot change), but lists are mutable (can change).

7. How do tuples ensure data integrity in Python?
  - Tuples help protect data by preventing changes, making them ideal for fixed, constant values.

8. What is a hash table, and how does it relate to dictionaries in Python?
  - A dictionary in Python uses a hash table internally to store and retrieve data quickly and efficiently.

 9. Can lists contain different data types in Python?
  - Yes, Python lists can contain elements of different data types. This is a key feature of Python's flexibility and makes lists a highly versatile data structure.
  -  example, a single Python list can hold integers, strings, floats, booleans, and even other complex data structures like nested lists, tuples, or dictionaries, all within the same list.

10. Explain why strings are immutable in Python?
  - In Python, strings are immutable, meaning their content cannot be changed once they are created. This immutability is by design and offers several advantages.
  - It helps Python manage memory more efficiently by allowing the reuse of string objects. Since strings do not change, they can be safely used as keys in dictionaries, which require consistent and hashable keys. Immutability also protects against accidental modification, making programs more secure and reliable.
  - Additionally, it supports thread-safety, as immutable objects can be shared between threads without causing unexpected behavior.
  - Overall, string immutability ensures stability, consistency, and performance in Python programs.

11. What advantages do dictionaries offer over lists for certain tasks?
  - **Fast lookup →** O(1) vs O(n) for lists
  - **Key-value mapping →** more readable than index-based access
  - **No need for indexes →** access by key directly
  - **Flexible keys →** not just integers
  - **Unique keys →** avoid duplicates
  - **Efficient for sparse data**

12. Describe a scenario where using a tuple would be preferable over a list?
  - **Tuple:** Immutable, fixed data, safer from accidental changes, can be used as dictionary keys.
  - **List:** Mutable, flexible, good for changing or growing data.
      - **Use tuple** when data should not change (Exampale., coordinates, RGB values, function return values).

 13. How do sets handle duplicate values in Python?
  - Python sets are inherently designed to store only unique, immutable elements. They do not allow duplicate values. When attempting to add a duplicate element to a set, the set simply ignores the addition; it does not raise an error or store multiple copies of the same element.

14. How does the “in” keyword work differently for lists and dictionaries?
  - The in keyword in Python functions differently for lists and dictionaries primarily in what it searches for:
      - **Lists:** When used with a list, the in operator checks for the presence of a specific element (value) within the list. It iterates through the list to find a match.
     - **Dictionaries:** When used with a dictionary, the in operator checks for the presence of a specific key within the dictionary. It does not directly check for values.

15. Can you modify the elements of a tuple? Explain why or why not.
  - No, you cannot modify elements of a tuple.
      - Tuples in Python are immutable → once created, their elements cannot be changed, added, or removed.
      - This immutability makes them safe, hashable (usable as dictionary keys or set elements), and slightly faster than lists.

16. What is a nested dictionary, and give an example of its use case?
  - A nested dictionary is a dictionary inside another dictionary. It allows you to store structured or hierarchical data.
      - **Example Use Case:** Storing student data with subjects and scores

17. Describe the time complexity of accessing elements in a dictionary.
  - Accessing a value by key in a Python dictionary is O(1) on average (constant time).

  - This is because dictionaries use a hash table internally.

  - Worst-case: O(n), but very rare (occurs when many keys hash to the same slot).

18. In what situations are lists preferred over dictionaries?
  - Lists → ordered, index-based, simple collections

  - Dictionaries → unordered, key-value mapping, fast lookups

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - **Why Dictionaries Are Considered Unordered**

      - Traditionally, Python dictionaries do not maintain the order of elements.

      - Each key-value pair is stored based on its hash value, not the order of insertion.

      - Note: Since Python 3.7+, insertion order is preserved, but conceptually dictionaries are still unordered collections because order isn’t the primary property.

  - Effect on Data Retrieval

      - You cannot rely on order when iterating over a dictionary.

      - Access is always by key, not by position:

20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - **Lists:** Data retrieval in a list is based on positional indexing. Each element in a list is assigned an integer index, starting from 0 for the first element. To access an element, its numerical index is provided. This makes lists suitable for ordered collections where the position of an item is significant or when iterating through elements in a specific sequence.
  - **Dictionaries:** Data retrieval in a dictionary is based on key-value mapping. Each value is associated with a unique, immutable key. To access a value, its corresponding key is provided. This allows for direct and efficient lookups of values based on a descriptive identifier, rather than a numerical position. Dictionaries are ideal for storing and retrieving data where a meaningful label is associated with each piece of information.

# Practical Questions

1. Write a code to create a string with your name and print it.

  - The answer to the 1st question

In [2]:
name = "Sarpuri Yashvitha"
print("My name is", name)

My name is Sarpuri Yashvitha

2. Write a code to find the length of the string "Hello World"?

  - The answer to the 2nd question

In [4]:
T = "Hello World"
length = len(T)
print("Length of the string is:", length)

Length of the string is: 11

3. Write a code to slice the first 3 characters from the string "Python Programming"?

  - The answer to the 3rd Question

In [7]:
T = "Python Programming"
# Slice first 3 characters
first_three = T[:3]
print("First 3 characters:", first_three)

First 3 characters: Pyt

4. Write a code to convert the string "hello" to uppercase?

  - The answer to the 4th Question

In [8]:
T = "hello"
# Convert to uppercase
upper_T = T.upper()
print(upper_T)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?

  - The answer to the 5th Question

In [10]:
text = "apple"
# Replace 'apple' with 'orange'
new_text = text.replace("apple", "orange")
print(new_text)

orange

6. Write a code to create a list with numbers 1 to 5 and print it?

  - The answer to the 6th Question

In [12]:
List_numbers = [1, 2, 3, 4, 5]
print(List_numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]?

  - The answer to the 7th Question

In [32]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

  - The answer to the 8th Question

In [31]:
N = [1, 2, 3, 4, 5]
N.remove(3)
print(N)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

  - The answer to the 9th Question

In [30]:
L = ['a', 'b', 'c', 'd']
second_element = L[1]
print("Second element:", second_element)

Second element: b

10. Write a code to reverse the list [10, 20, 30, 40, 50]?

  - The answer to the 10th Question

In [16]:
numbers = [10, 20, 30, 40, 50]
reversed_numbers = numbers[::-1]
print(reversed_numbers)

[50, 40, 30, 20, 10]

11.  Write a code to create a tuple with the elements 100, 200, 300 and print it?

  - The answer to the 11th Question

In [17]:
N = (100, 200, 300)
print(N)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?

  - The answer to the 12th Question

In [18]:
colors = ('red', 'green', 'blue', 'yellow')
# Access second-to-last element
second_last = colors[-2]
print("Second-to-last element:", second_last)

Second-to-last element: blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)?

  - The answer to the 13th Question

In [19]:
numbers = (10, 20, 5, 15)
min_number = min(numbers)
print("Minimum number:", min_number)

Minimum number: 5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

  - The answer to the 14th Question

In [20]:
animals = ('dog', 'cat', 'rabbit')
index_cat = animals.index('cat')
print("Index of 'cat':", index_cat)

Index of 'cat': 1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?

  - The answer to the 15th Question

In [21]:
fruits = ("apple", "banana", "orange")
is_kiwi_present = "kiwi" in fruits
print("Is 'kiwi' in tuple?", is_kiwi_present)

Is 'kiwi' in tuple? False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it?

  - The answer to the 16th Question

In [22]:
letters = {'a', 'b', 'c'}
print(letters)

{'a', 'c', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}?

  - The answer to the 17th Question

In [23]:
N= {1, 2, 3, 4, 5}
N.clear()
print(N)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}?

  - The answer to the 18th Question

In [24]:
N = {1, 2, 3, 4}
N.remove(4)
print(N)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?

  - The answer to the 19th Question

In [25]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("Union:", union_set)

Union: {1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}?

  - The answer to the 20th Question

In [27]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print("Intersection:", intersection_set)

Intersection: {2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it?

The answer to the 21st Question

In [28]:
person = {
    "name": "Sarpuri Yashvitha",
    "age": 22,
    "city": "Chittoor"
}
print(person)

{'name': 'Sarpuri Yashvitha', 'age': 22, 'city': 'Chittoor'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}?

The answer to the 22nd Question

In [29]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}?

The answer to the 23rd Question

In [1]:
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print("Name:", name_value)

Name: Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}?

The answer to the 24th Question

In [2]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}?

The answer to the 25th Question

In [4]:
person = {'name': 'Alice', 'city': 'Paris'}
if "city" in person:
    print("Key 'city' exists.")
else:
    print("Key 'city' does not exist.")

Key 'city' exists.

26. Write a code to create a list, a tuple, and a dictionary, and print them all?

The answer to the 26th Question

In [5]:
my_list = [1, 2, 3, 4, 5]
my_tuple = ("apple", "banana", "cherry")
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)?

The answer to the 27th Question

In [6]:
import random
numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print("Sorted list:", numbers)

Sorted list: [37, 66, 72, 89, 91]

28. Write a code to create a list with strings and print the element at the third index?

The answer to the 28th Question

In [7]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
print("Element at third index:", words[3])

Element at third index: date

29. Write a code to combine two dictionaries into one and print the result?

The answer to the 29th Question

In [8]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print("Combined dictionary:", combined)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set?

The answer to the 30th Question

In [9]:
words = ["apple", "banana", "cherry", "apple", "banana"]
words_set = set(words)
print("Set:", words_set)

Set: {'banana', 'apple', 'cherry'}